{% extends 'base.html' %} {% block content %}
<div style="margin-top:20px"></div>
<div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
  <div class="col-md-6 px-0">

    <h1 class="display-4 fst-italic">BANK APP</h1>

  </div>
  <div>
    <p>
    <p class="">
      Using PyTest to test a bank app using the article <a
        href="https://dev.to/sherlockcodes/pytest-with-django-rest-framework-from-zero-to-hero-8c4" target="_blank">article</a>.
    </p>
    </p>
  </div>
</div>
{% endblock content %}